.root {
    -fx-background-color: rgb(255, 255, 255);
}

#attachedPDFHere {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 10 40; /* top/bottom 10px, left/right 40px */
    -fx-background-color: white;
    -fx-alignment: center;
}